<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>font-awesome:fa-battery</string>
	<key>CFBundleIdentifier</key>
	<string>com.veadar.bbl</string>
	<key>CFBundleName</key>
	<string>Bluetooth Battery Level</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBAbbreviation</key>
	<string>bbl</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>veadar</string>
		<key>LBEmail</key>
		<string></string>
		<key>LBTwitter</key>
		<string>veadar</string>
		<key>LBWebsiteURL</key>
		<string>https://mac-tegaki.com</string>
	</dict>
	<key>LBMinimumLaunchBarVersion</key>
	<integer>6</integer>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.scpt</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>@veadar</string>
</dict>
</plist>
